services:
  ergo:
    init: true
    image: ghcr.io/ergochat/ergo:stable
    restart: unless-stopped
    ports:
      - "6697:6697"
      - "8097:8097"
    volumes:
      - ./ergo-data:/ircd
      - /etc/letsencrypt:/etc/letsencrypt
    env_file:
      - path: .env
    environment:
      ERGO__NETWORK__NAME: "FireflyZero"
      ERGO__SERVER__NAME: "ergo.fireflyzero.com"
      ERGO__SERVER__LISTENERS: |
        # The standard SSL/TLS port for IRC is 6697. This will listen on all interfaces:
        ":6697":
          # this is a standard TLS configuration with a single certificate;
          # see the manual for instructions on how to configure SNI
          tls:
            cert: /etc/letsencrypt/live/ergo.fireflyzero.com/fullchain.pem
            key: /etc/letsencrypt/live/ergo.fireflyzero.com/privkey.pem
          proxy: false
          min-tls-version: 1.2
        ":8097":
          websocket: true
          tls:
            cert: /etc/letsencrypt/live/ergo.fireflyzero.com/fullchain.pem
            key: /etc/letsencrypt/live/ergo.fireflyzero.com/privkey.pem

      ERGO__HISTORY__PERSISTENT__ENABLED: "true"
      ERGO__HISTORY__AUTOREPLAY-ON-JOIN: "1000"
      ERGO__DATASTORE__MYSQL__ENABLED: "true"
      ERGO__DATASTORE__MYSQL__HOST: "mysql"
      ERGO__DATASTORE__MYSQL__USER: "ergo"
      ERGO__DATASTORE__MYSQL__PASSWORD: $DB_PASS

  mysql:
    image: mysql:latest
    restart: unless-stopped
    volumes:
      - ./mysql-data:/var/lib/mysql
    env_file:
      - path: .env
    environment:
      MYSQL_ROOT_PASSWORD: $DB_ROOT_PASS
      MYSQL_USER: ergo
      MYSQL_PASSWORD: $DB_PASS
      MYSQL_DATABASE: ergo_history
